html {
  font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
}
h1 {
  font-size: 60px;
  text-align: center;
  color: #0d63e4;
  text-shadow: 3px 3px 1px rgb(0, 0, 0); /* 文字阴影 */
  margin: 0; /* 覆盖浏览器默认的上间隙 */
  padding: 20px 0;
}
a,
p,
li {
  font-size: 16px; /* 16 像素 */
  line-height: 2; /* 行高是字体大小的两倍 */
  letter-spacing: 1px; /* 字母间距 1 像素 */
}
img {
  display: block; /* 图片作为块级元素显示 */
  margin: 10px 10px 10px; /*上 右 下 左*/
  width: 80px;
}
html {
  background-color: #a2984e; /* 整个页面的背景颜色 */
}
body {
  width: 800px;
  margin: 0 auto; /* 上下 0 左右 自动 */ /*  外边距 */
  background-color: #ff9500;
  padding: 0 10px 50px 10px; /*上 右 下 左 */ /*  内边距 */
  border: 5px solid rgb(0, 0, 0); /* 黑色边框 */
}
